<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page</h1>
    <form align="left" name="form1" method="get" action="">
        {% csrf_token %}
        <label>
        <input name="submit2" type="submit" id="submit2" value="log out">
        </label>
    </form>


      
</body>
</html>
  